@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
}
p::first-letter{
    font-size: 200%;
    color: #033b42;
}

div.main img{
    width: 50px;
}
div.main img:hover{
    animation: utvid 0.2s forwards;
}
@keyframes utvid {
    from {width: 100px;}
    to {width: 200px;}
}

img.venstre{
    float: left;
}
img.hoyre{
    float: right;
}

.grid {
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.grid > * {
    padding: 10px;
}

nav ul {
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0;
    flex: 1 1;
}

nav a{
    color: #EBF2FA;
    width: 100%;
    display: block;
    padding: 1.15em 3%;
    text-align: center;
    text-decoration: none;

}
nav a:hover{
    background-color:#05668d;
    animation: farge 2s forwards;

}

@keyframes farge {
    from {background-color: #427AA1;}
    to {background-color:#05668d;}
}

.header {
    grid-area: header;
    background-color: #05668d;

}
.main {
    grid-area: main;
    background-color: #EBF2FA;
}
.nav {
    grid-area: nav;
    background-color: #427AA1;
    padding: 0;
}
.aside {
    grid-area: aside;
}
.ad {
    grid-area: ad;
}
.footer {
    grid-area: footer;
    background-color: #679436;
}
.grid {
    display: grid;
    grid-gap: 2px;
    grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "ad"
            "footer";
}
@media (min-width: 500px) {
    div.main img{
        width: 100px;
    }
    .grid {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
                "header header"
                "nav    nav"
                "aside  main"
                "ad     footer";
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
@media (min-width: 700px) {
    div.main img{
        width: 100px;
    }
    .grid {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
                "header header  header"
                "nav    main    aside"
                "nav    main    ad"
                "footer footer  footer"
    }
    nav ul {
        flex-direction: column;
        justify-content: center;
    }
}



