@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}


.pakker{
    width: 100%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 10fr;
    grid-template-areas:
            "header header header header"
            "liste klikkebar start klikkverdi"
            "liste klikkebar klikk klikk"
;
    grid-gap: 3px;
}

.header{
    grid-area: header;
    background-color: black;
    color: white;
}
.start{
    grid-area: start;
}

.navn{
    grid-area: navn;
}

.klikkebar{
    grid-area: klikkebar;
    height: 100%;
    position: relative;

}
.bar{
    height: 1%;
    background: #db3340;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.topscore{

    position: absolute;
    bottom: 10%;
    width: 100%;
    border-bottom: black solid 2px;

}

input.navn[type=text] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    font-size: 30px;
    display: none;
}


button.start{
    background-color: #033b42;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    height: 100%;
}

.klikkverdi{
    grid-area: klikkverdi;
    background-color: #db3340;
    margin: 0;
    padding-top: 90px;
    color: white;
    font-size: 50px;
    height: 100%;

}
.klikk{
    grid-area: klikk;
    width: 100%;
    height: 100%;
    background-color: #3b8054;
    color: white;
    font-size: 30px;
    border-radius: 5px;
}
.liste{
    grid-area: liste;
    background-color: #cfdade;
}
.poengliste li:first-child{
    font-size: 20px;
    color: #db3340;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 25px;
}

th, td {
    text-align: left;
    padding: 8px;
    text-align: center;

}

tr:nth-child(even) {background-color: #f2f2f2;}
tbody tr:first-child{
    background-color: #db3340;
    font-size: 150%;
}
thead {
    color: #033b42;
    font-size: 200%;
}
h2{
    font-size: 400%;
    color: #3b8054;

}